torch
torchvision
torchaudio

# FastAPI & Streamlit (Web App)
fastapi
uvicorn[standard]
jinja2
streamlit

# Transformers & Donut (AI Models)
transformers
donut-python

# LangChain & VectorDB
langchain
langchain-core
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
tiktoken
chromadb

# Document Parsers
unstructured
unstructured[docx]
unstructured[xlsx]
python-pptx
python-docx
pyhwp
PyMuPDF
olefile
openpyxl
openpyxl-image-loader

# Image Handling
Pillow

# Environment & Utilities
python-dotenv

# Web Crawling
beautifulsoup4
selenium
webdriver-manager
requests

# Scheduler
APScheduler